{% extends 'base.html.twig' %}

{% block body %}
    <h1>Авторизоваться будешь?</h1>
    {% if(error) %}
        {{ error }}
    {% endif %}
    {{ form(form) }}
{% endblock %}

{% block title %}

{% endblock %}

